*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body
{
    background-color: #fff;
}

.top
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #252B42;
    font-weight: 600;
    height: 156px;
    align-items: center;
    margin-left: 90px;
    margin-right: 40px;
}

.menu > ul
{
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 580px;
    justify-content: space-between;
    font-size: 16px;
    line-height: 28px;
}

.menu > ul > li a
{
    text-decoration: none;
    color: #252B42;
}

.menu > ul > li a:hover
{
    color: #FA4A0C;
}

.hero
{
    background-image: url(background.svg);
    background-size: contain;
    background-repeat: no-repeat;
    min-height: 100vh;
}

.heroT
{
    display: flex;
    justify-content: center;
    color: #fff;
    text-align: center;
}

.heroTitle
{
    max-width: 1005px;
}

.hero h2
{
    margin-top: 73px;
    margin-bottom: 30px;
    font-size: 36px;
    font-weight: 700;
    color: #f7f7f7;
    line-height: 36px;
}

.hero h1
{
    font-size: 58px;
    font-weight: 700;
    line-height: 80px;
    margin-bottom: 20px;
}

.hero h3
{
    font-size: 24px;
    line-height: 38px;
    font-weight: 500;
    color: #f7f7f7;
    margin-bottom: 60px;
}

.hero button
{
    margin-left: 34px;
    background-color: transparent;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    line-height: 36px;
    color: #fff;
    width: 236px;
    height: 68px;
    border: 2px solid #fff;
    border-radius: 30px;
    box-shadow: 0px 10px 30px rgba(183, 50, 39, 0.2);
    padding: 16px 0;
    transition: 0.2s;
}

.hero button:hover
{
    background-color: #FA4A0C;
}

.hero .phones
{
    display: flex;
    justify-content: center;
    position: relative;
}

.hero .phones::after
{
    position: absolute;
    content: "";
    width: 884px;
    height: 3px;
    background-color: #E4E4E4;
    margin: auto;
    right: 0;
    left: 0;
    top: 850px;
}
